body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:20px;
}

h1{
    text-align:center;
}

.container{
    max-width:600px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

input,
select,
button{
    width:100%;
    padding:10px;
    margin:10px 0;
    box-sizing:border-box;
}

button{
    background:#0077ff;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#005fcc;
}

.task-item{
    border:1px solid #ddd;
    padding:15px;
    margin-top:10px;
    border-radius:8px;
}
.deleteBtn{
    background:#e74c3c;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
}

.deleteBtn:hover{
    background:#c0392b;
}
.completed{
    text-decoration: line-through;
    color: green;
}

.completeBtn{
    background:#2ecc71;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;
    margin-right:10px;
}

.completeBtn:hover{
    background:#27ae60;
}